<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Drugs DB App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

{% include '_navbar.html' %}

<section class="section">
    <div class="container">
        <h1 class="title">Изменить значение в таблице: {{ table_name }}</h1>
        <form action="{{ url_for('edit_value') }}" method="post">
            <input type="hidden" name="table_name" value="{{ table_name }}">
            <input type="hidden" name="medicine_id" value="{{ medicine_id }}">
            <div class="field">
                <label class="label">Количество:</label>
                <div class="control">
                    <input class="input" name="new_quantity" required type="text" value="{{ old_quantity }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Id лекарства:</label>
                <div class="control">
                    <input class="input" name="new_drug_id" required type="text" value="{{ old_drug_id }}">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <div class="buttons">
                    <button class="button is-primary" type="submit">Изменить</button>
                        <a class="button is-danger" href="/delete_value/{{ table_name.lower() }}/{{ medicine_id }}">Удалить</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>